button
{
    align-items: center; /* Centrowanie w pionie */
    justify-content: center; /* Centrowanie w poziomie */
    font-size: large;
    cursor: pointer;
   
    background-color: #3484FF;
    color: white;
    border: solid 0px;
    width: 90%;
    height: 6vh;
    transition-duration: 0.2s;
    margin: 15px;
    border-radius: 10px;
    font-size: 2vh;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
}

button:hover
{
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
    background-color: #4597FF;
}


.nav 
{
    display: flex;
    justify-content: start;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
    padding: 0.5em;
    width: 15vw;
    flex-direction: column;
    height: 100vh;
}

.nav a img
{
    width: 15vw;
    color: #fff;


}
.mainbox
{
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 1em;
        
}


.welcometext 
{
    font-size: 2.5vh;
}

.tabletext
{
    padding-top: 5%;
    font-size: 2vh;
}

.summaryboxes
{
    flex-direction: row;
    display: flex;
    padding: 1em; 
}

.summaryboxes2
{
    flex-direction: row;
    display: flex;
    padding: 1em; 

}


.box1
{
    background-color: #E6F0FF;
    height: 15vh;
    width: 20vw;
    margin: 15px;
    padding: 15px;
    color: #3484FF;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
}

.box2
{
    background-color: #FFFAEB;
    height: 15vh;
    width: 20vw;
    margin: 15px;
    padding: 15px;
    color: #DC6803;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
}

.box3
{
    background-color: #FEF3F2;
    height: 15vh;
    width: 20vw;
    margin: 15px;
    padding: 15px;
    color: #B42318;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
}


.box4
{
    background-color: #3484FF;
    height: 15vh;
    width: 20vw;
    margin: 15px;
    padding: 15px;
    color: #FFFAEB;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
}

.box5
{
    background-color: #DC6803;
    height: 15vh;
    width: 20vw;
    margin: 15px;
    padding: 15px;
    color: #FFFAEB;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
}

.box6
{
    background-color: #B42318;
    height: 15vh;
    width: 20vw;
    margin: 15px;
    padding: 15px;
    color: #FEF3F2;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
}
p
{
    font-size: 5vh;
    font-weight: bold;

}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modalAlert {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }