@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');

/* DASHBOARD BOXES */
.box1 {
    background-color: #E6F0FF;
    color: #3484FF;
}

.box2 {
    background-color: #FFFAEB;
    color: #DC6803;
}

.box3 {
    background-color: #FEF3F2;
    color: #B42318;
}
/* --- */




/* DASHBOARD TABLE */
th{
    background-color: rgba(173, 216, 230, 0.808);
    color: black;
}
 .pagination {
     display: flex;
     list-style: none;
     padding: 0;
 }
  
 .table_productsPortrait {
     display: none;
 }

 
/* --- */




  /********************** CSS NA MOBILE DEVICES **********************/

  @media (orientation: portrait){
    .tabletext 
    {
    font-size: 2.5vh;
    }

    .summaryboxes {
        font-size: 3.5vw;
     	overflow-x: scroll;
        max-width: 500px;
        justify-content: center;
    }

    .boxes {
        height: auto;
        width: auto;
    }

    .boxes p {
        font-size: 5vw;
    }
 
    .table_last_products {
        display: none;
    }
    
    .table_productsPortrait {
        display:block;
        font-size: 12px;
        margin-top: 5%;
    }

    .table_productsPortrait thead th {
        padding: 5px;
        width: 100rem;
    }
        
}
