@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
.InventoryAllPortrait{
    display: none;
}
.SummaryDivInventory{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
}
.SummaryDivInventory p{
  font-size: 20px;
  margin: 1%;
  background-color: #cccccc49;
  border-radius: 25px;
  border:3px solid #ddd;
  padding: 20px;
}

.myBtns{
  display: flex;
  justify-content: center;
}
#myBtn2{
  width: 30%;
}
#myBtn3{
  width: 30%;
}

th{
  background-color: #DC6803;
}
.tableOfProducts{
  align-items: center;
}
.infoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-left: 4%;
  width: 20%;
  height: 5vh;
  text-align: center;
}

@media (orientation: portrait) {

    /* INVENTORY TABLE MOBILE */
    .InventoryAll {
        display: none;
    }
    .InventoryAllPortrait {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    /* --- */
    .SummaryDivInventory p{
      font-size: 15px;
    }
    #myBtn2{
      width: 90%;
    }
    #myBtn3{
      width: 90%;
    }
}