@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
body, html {
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #f5F6F8;
}

button {
    align-items: center;
    justify-content: center;
    font-size: large;
    cursor: pointer;
    background-color: #3484FF;
    color: white;
    border: solid 0px;
    width: 90%;
    height: 6vh;
    transition-duration: 0.2s;
    margin: 15px;
    border-radius: 10px;
    font-size: 2vh;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
}

a {
    color: black;
    font-size: 2vh;
    font-style: normal;
    text-decoration: none;
}

button:hover {
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
    background-color: #4597FF;
}


.nav {
    display: flex;
    justify-content: start;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
    padding: 0.5em;
    width: 15vw;
    flex-direction: column;
    height: 100%;
}

.nav a img {
    width: 15vw;
    color: #fff;
}

.mainbox {
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 1em;   
}

.welcometext {
    font-size: 2.5vh;
}

.tabletext {
    padding-top: 5%;
    font-size: 2vh;
}

.topLogo {
    display: none;
}

.tableOfProducts  {
    margin: 0;
}

.table_products {
    border: solid 1px #dde4ee;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Helvetica;
    width: 100%;
}

.table_products thead th {
    background-color: #3484FF;
    border: solid 1px #EBEBEB;
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
}

.table_products tbody td {
    border: solid 1px #EBEBEB;
    color: #333;
    padding: 5px;
}



.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    text-decoration: none;
    color: #333;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #c0c0c0;
}

.pagination .active {
    background-color: #007bff;
    color: #fff;
}

.InventoryAllPortrait {
    display: none;
}

#myBtn2, #myBtn3 {
    width: 250px;
}
/********************** CSS NA MOBILE DEVICES **********************/
  @media (orientation: portrait) {
.InventoryAll {
    display: none;
}

#myBtn2, #myBtn3 {
    width: 150px;
}

.InventoryAllPortrait {
    display: flex;
}

.nav {
    display: none;
}

.mainbox{
    top:5px;
}

.welcometext {
    font-size: 2.5vh;
}

.tabletext {
    font-size: 2.5vh;
}

.sumDiv {
    display: flex;
    align-self: flex-end;
}

.topLogo, .menuButton {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.topLogo img {
    height: 7vw;
    align-self: flex-start;
}

.dropdown {
    margin-right: 5%;
    display: flex;
    align-self: flex-end;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    right: 4%;
    top: 6%;
}

.table_products {
    display: none;
}

.table_productsPortrait {
    display: block;
    border: solid 1px #dde4ee;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 2vw Helvetica;
    width: 100%;
}

.table_productsPortrait thead th {
    background-color: #3484FF;
    border: solid 1px #EBEBEB;
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
    width: 25rem;
}

.table_productsPortrait tbody td {
    border: solid 1px #EBEBEB;
    color: #333;
    padding: 5px;
}  
}
