@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
.InventoryAllPortrait{
    display: none;
}
.SummaryDivInventory{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
}
.SummaryDivInventory p{
  font-size: 20px;
  margin: 1%;
  background-color: #cccccc49;
  border-radius: 25px;
  border:3px solid #ddd;
  padding: 20px;
}

.myBtns{
  display: flex;
  justify-content: center;
}
#myBtn2{
  width: 30%;
}
#myBtn3{
  width: 30%;
}

th{
  background-color: #DC6803;
}
.tableOfProducts{
  align-items: center;
}
.infoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgoldenrodyellow;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-left: 4%;
  width: 10%;
  height: 5vh;
  text-align: center;
}

#infoModal p{
  font-size: 30px;
  font-weight: 100;
  font-style:italic;
}

@media (orientation: portrait) {

    /* INVENTORY TABLE MOBILE */
    .InventoryAll {
        display: none;
    }
    .InventoryAllPortrait {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    
    /* --- */
    
    /* TEXT MOBILE */
    .SummaryDivInventory p{
      font-size: 15px;
    }
    /* --- */

    /* BUTTONS MOBILE */
    #myBtn2{
      width: 90%;
    }
    #myBtn3{
      width: 90%;
    }
    /* --- */

    /* MODALS MOBILE */
    .modal-contentD{
      height: 70%;
    }
    .modal-contentD input{
      width: 90%;
      height: 10%;
    }
    #infoModal p{
      font-size: 20px;
    }
    /* --- */
}