@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');

.ProductsAllPortrait{
    display: none;
}


/* MOBILE PRODUCTS PAGE */
@media (orientation: portrait) {
    .table_products {
        display: none;
    }
    .ProductsAllPortrait{
        display: block;
    }
    .AddProductButton{
        width: 90%;
    }

}