.tableOfProducts  {
    margin-top: 55px;
    margin-left: -25px;
}

.table_products {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}

    .table_products thead th {
        background-color: #D3D3D3;
        border: solid 1px #EBEBEB;
        color: #336B6B;
        padding: 10px;
        text-align: left;
        text-shadow: 1px 1px 1px #fff;
    }

    .table_products tbody td {
        border: solid 1px #EBEBEB;
        color: #333;
        padding: 10px;
        text-shadow: 1px 1px 1px #fff;
    }


.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

    .pagination a {
        display: inline-block;
        padding: 8px 12px;
        margin: 0 4px;
        text-decoration: none;
        color: #333;
        background-color: #f2f2f2;
        border: 1px solid #ddd;
        border-radius: 4px;
        cursor: pointer;
    }

        .pagination a:hover {
            background-color: #ddd;
        }

    .pagination .active {
        background-color: #007bff;
        color: #fff;
    }