@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');

/* REPORTS BOXES */
.boxes{
    font-size: 20px;
    padding: 30px;
}

.box1 {
    background-color: #FEF3F2;
    color: #B42318;
}

.box2 {
    background-color: #E6F0FF;
    color: #3484FF;

}

.box3 {
    background-color: #FFFAEB;
    color: #DC6803;
}


.box4 {
    background-color: #DC6803;
    color: #FFFAEB;

}

.box5 {
    background-color: #3484FF;
    color: #FFFAEB;
}

.box6
{
    background-color: #B42318;
    color: #FEF3F2;
}
/* --- */



  /********************** CSS NA MOBILE DEVICES **********************/

  @media (orientation: portrait){

.BoxReportsPortraitAll {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.BoxReportsPortraitInv{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ReportText {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.summaryboxes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 2%;
    font-size: 2.5vw;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    text-align: center;
    font-size: 5vw;
    height: 100px;
    width: 200px;
    margin: 5px;
}

.box1 p, .box2 p, .box3 p, .box4 p, .box5 p, .box6 p {
    font-size: 3.5vw;
    width: auto;
    height: auto;
}
      
}
