body{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
th {
    background-color: black;
}
button {
    background-color: black;
}
.summaryform{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}
.TableInventoryPortrait{
    display: none;
}



@media (orientation: portrait) {
.button{
    width: 90%;
}
.TableInventory{
    display: none;
}
.TableInventoryPortrait{
    display: flex;
}
}
