@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap'); 

/* BODY PAGES */
body, html
{
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #f5F6F8;
}
.mainbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    display: flex;
    justify-content: start;
    padding: 1em;   
}
/* --- */



/* NAVIGATION PAGES */
.nav {
    display: flex;
    justify-content: start;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
    padding: 0.5em;
    width: 350px;
    min-width: 350px;
    flex-direction: column;
    height: 100vh;

}
.nav a img {
    width: 15vw;
    color: #fff;
}
/* --- */



/* HEADER PAGES */
header{
    padding: 10px;
    height: 20px;
    background-color: lightcoral;
    margin-top:10px;
    margin-bottom: 35px;
    border-radius: 25px;
 }
/* --- */



/* TEXT */
.welcometext {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    font-size: 3.5vh;
    border-bottom: 5px solid #ddd;
    margin-bottom: 10px;
}

p {
    font-size: 5vh;
    font-weight: bold;
}
a {
    color: black;
    font-size: 2vh;
    font-style: normal;
    text-decoration: none;
}
/* --- */



/* IMAGES */
.topLogo {
    display: none;
}
/* --- */



/* DIV BOXES  */
.summaryboxes {
    flex-direction: row;
    display: flex;
    font-size: 3.5vw;
}
.boxes{
    font-size: 30px;
    height: 15vh;
    width: 20vw;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
    min-width: 200px;
}
.boxes:hover{
    cursor: pointer;
    transform: scale(1.02); 
    transition: 200ms;
    animation: ease-in-out;
}

.boxes p
{
    font-size: 5vh;
    font-weight: bold;
}
/* --- */



/* BUTTONS  */
button {
    align-items: center;
    justify-content: center;
    font-size: large;
    cursor: pointer;
    background-color: #3484FF;
    color: white;
    border: solid 0px;
    width: 90%;
    height: 6vh;
    transition-duration: 0.2s;
    margin: 15px;
    border-radius: 10px;
    font-size: 2vh;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
}

button:hover {
    color: white;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.5);
}
.SendButton {
    background: rgb(181, 236, 185)000 !important;
    width: 10vw;
    margin-left: 15%;
    height: 3vh;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    transition-duration: 0.2s;
}
/* --- */

/* INPUTS */
input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    align-items: center;
    justify-content: center;
    font-size: large;
    cursor: pointer;
    background-color: #3484FF;
    color: white;
    border: solid 0px;
    width: 90%;
    height: 6vh;
    transition-duration: 0.2s;
    margin: 15px;
    border-radius: 10px;
    font-size: 2vh;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
  }
  
  input[type=submit]:hover {
    color: white;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.5);
  }


/* TABLES */
table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    text-align: left;
    border-bottom: 3px solid #ddd;
  }
  th{
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #4597FF;
    color: whitesmoke;
    font-weight: bold;
    padding: 5px;
  }
  
  .tableOfProducts  {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
  }
  .tabletext {
    padding-top: 5%;
    font-size: 2.5vh;
}
/* --- */

/* FILTER TABLES  */
.filtersTableDiv{
    display: flex;
    justify-content: center;

}

.filtersTableDiv form {
    padding: 20px;
}
.filterTableButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filterSection{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filtersTableDiv{
    font-size: 15px;
    margin-bottom: 10px;
    background-color: #cccccc49;
    border-radius: 25px;
    border:3px solid #ddd;
  }
  .filtersTableDiv input[type=submit]{
    background-color: black;
    font-size: 10px;
    height: 3vh;
  }



/* PAGINATION  */
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    text-decoration: none;
    color: #333;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #c0c0c0;
}

.pagination .active {
    background-color: #007bff;
    color: #fff;
}
/* --- */




/* ---------- MOBILE DEFAULT CSS -----*/
@media (orientation: portrait){
    .nav {
        display: none;
    }
    .mainbox{
        width: 95vw;
        top:10px;
        align-items: unset;
    }
    .welcometext{
        width: 100%;

    }

    /*TABLE MOBILE */
    td, th{
        font-size: 11px;
      }

    /* LOGO MOBILE */
    .topLogo, .menuButton {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .topLogo img {
        height: 7vw;
        align-self: flex-start;
    }
    /* --- */



    /* DROPDOWN MOBILE */
    .dropdown {
        margin-right: 5%;
        display: flex;
        align-self: flex-end;
      }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
      
    .dropdown:hover .dropdown-content {
        display: block;
        right: 4%;
        top: 6%;
    }
    /* --- */
}

@media only screen and (max-width: 600px) {
    body { font-size: 14px;}
    body, html { font-size: 14px;}
    body, html { font-size: 14px;}
    body, html { font-size: 14px;}
}