@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');

/* USERS TABLE */
 .table_usersAll{
    width: 30%;
 }
 /* --- */
#AddUser{
   width: 30%;
}

 @media (orientation: portrait) {
   .table_usersAll{
      width: 100%;
   }
   #AddUser{
      width: 90%;
   }
}