
   
        <ng-container *ngIf="selectedComponent === 'app-main-page-grid'">
            <app-main-page-grid></app-main-page-grid>
        </ng-container>
        <ng-container *ngIf="selectedComponent === 'AboutUs'">
            <app-about-us></app-about-us>
        </ng-container>
        <ng-container *ngIf="selectedComponent === 'Contact'">
            <app-contact></app-contact>
        </ng-container>
        <ng-container *ngIf="selectedComponent === 'Login'">
            <app-login></app-login>
        </ng-container>
        <ng-container *ngIf="selectedComponent === 'RestaurantDetail'">
            <app-restaurant-detail></app-restaurant-detail>
        </ng-container>
        <ng-container *ngIf="selectedComponent === 'Registration'">
            <app-registration> </app-registration>
        </ng-container>

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
