<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <!-- Zdjęcie restauracji po lewej stronie -->
      <div class="image-container">
        <img [src]="restaurantDetails?.ImageURL" alt="{{ restaurantDetails?.RestaurantName }}">
      </div>
    </div>
    <div class="col-md-6">
      <!-- Opis restauracji po prawej stronie -->
      <div class="restaurant-description">
        <h2>{{ restaurantDetails?.RestaurantName }}</h2>
        <p>{{ restaurantDetails?.LongDesc }}</p>
        <p>Adres: {{ restaurantDetails?.Adress }}</p>
        <p>Ilość Stolików: {{ restaurantDetails?.TableNumber }}</p>
        <button type="button" class="btn btn-dark btn-block">Zarezerwuj</button>
      </div>
    </div>
  </div>
</div>
