   /* Dodatkowy styl do dostosowania wyglądu */
   .restaurant-description {
    text-align: justify;
  }

  .image-container {
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }