<div class="container mt-5">
    <h2 class="mb-4">Panel Administratora</h2>

    <!-- Wyświetlenie restauracji -->
    <div class="card mb-4">
        <div class="card-header">
            Restauracje
        </div>
        <div class="card-body">
            <table class="table" >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nazwa</th>
                        <th>Adres</th>
                        <th>Edytuj</th>
                        <th>Usuń</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let restaurant of restaurants">
                        <td>{{restaurant.ID}}</td>
                        <td>{{restaurant.RestaurantName}}</td>
                        <td>{{restaurant.Adress}}</td>
                        <td><button class="btn btn-warning" (click)="editRestaurant(restaurant)">Edytuj</button></td>
                        <td><button class="btn btn-danger" (click)="deleteRestaurant(restaurant.ID)">Usuń</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="editingRestaurant" class="card mt-4">
        <div class="card-header">
            Edycja Restauracji
        </div>
        <div class="card-body">
            <form [formGroup]="editRestaurantForm">
                <div class="form-group">
                    <label for="restaurantName">Nowa Nazwa Restauracji</label>
                    <input type="text" class="form-control" id="restaurantName" formControlName="newName">
                </div>
                <div class="form-group">
                    <label for="restaurantAdress">Nowy Adres Restauracji</label>
                    <input type="text" class="form-control" id="restaurantAdress" formControlName="newAdress">
                </div>
                <button type="button" class="btn btn-primary" (click)="saveChanges()">Zapisz zmiany</button>
            </form>
        </div>
    </div>
    

    <!-- Dodawanie / usuwanie Rezerwacji -->
    <div class="card mb-4">
        <div class="card-header">
            Dodaj / Usuń Rezerwację
        </div>
        <div class="card-body">
            <button class="btn btn-success mr-2" >Dodaj Rezerwację</button>
            <button class="btn btn-danger">Usuń Rezerwację</button>
        </div>
    </div>

    <!-- Dodawanie / usuwanie użytkownika -->
    <div class="card">
        <div class="card-header">
            Dodaj / Usuń Użytkownika
        </div>
        <div class="card-body">
            <button class="btn btn-success mr-2" >Dodaj Użytkownika</button>
            <button class="btn btn-danger">Usuń Użytkownika</button>
        </div>
    </div>
</div>
