<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <div class="row">
        <div class="col-md-8">
          <h1 class="display-5 fw-bold">O nas</h1>
          <p class="fs-4">
            Witaj w naszej aplikacji do rezerwacji stolików! Jesteśmy zespołem pasjonatów gastronomii, którzy pragną uczynić Twoje doświadczenie w restauracjach jeszcze bardziej wyjątkowym. Nasza misja to umożliwienie Ci łatwego i przyjemnego rezerwowania stolików w ulubionych restauracjach, bez zbędnych trudności.
            Dzięki naszej aplikacji możesz przeglądać różnorodne lokale, sprawdzać dostępność stolików i dokonywać rezerwacji w kilka chwil. Dbamy o to, abyś mógł skoncentrować się na tym, co kochasz najbardziej - delektowaniu się wykwintnymi potrawami i atmosferą ulubionych restauracji.
            Nasza aplikacja oferuje intuicyjny interfejs, szybkie potwierdzenia rezerwacji i możliwość dostosowania szczegółów według własnych preferencji. Cenimy Twoją wygodę i chcemy, abyś mógł cieszyć się każdym posiłkiem bez stresu związanego z organizacją.
            Dołącz do naszej społeczności entuzjastów dobrego jedzenia i zarezerwuj swój stolik już dziś. Dziękujemy, że jesteś z nami i pomagasz tworzyć wyjątkowe chwile w restauracjach!
          </p>
          <button class="btn btn btn-dark btn-block"
          (click)="RedirectToHomePageGrid()"
           type="button">Zarezerwuj stolik</button>
        </div>
        <div class="col-md-4">
        <img src="https://hips.hearstapps.com/hmg-prod/images/botanic-mallorca-1638394352.jpg?crop=1xw:1xh;center,top&resize=980:*" alt="Grafika" class="img-thumbnail">
        </div>
      </div>
    </div>
  </div>
  