<!-- Sekcja: Blok Projektowania -->
<section class="text-center">
  <!-- Tło obrazu -->
  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 4%, 56%, 0.185);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Logowanie</h2>
          <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <!-- Pole na adres email -->
            <div class="form-outline mb-4">
              <input *ngIf="loginForm?.get('email')" type="email" id="form3Example3" class="form-control" formControlName="email" />
              <label class="form-label" for="form3Example3">Adres email</label>
            </div>
            <div *ngIf="loginForm?.get('email')?.hasError('required') && loginForm?.get('email')?.touched" class="text-danger">
              Email jest wymagany.
            </div>
            <div *ngIf="loginForm?.get('email')?.hasError('email') && loginForm?.get('email')?.touched" class="text-danger">
              Proszę podać poprawny adres email.
            </div>

            <!-- Pole na hasło -->
            <div class="form-outline mb-4">
              <input *ngIf="loginForm?.get('password')" type="password" id="form3Example4" class="form-control" formControlName="password" />
              <label class="form-label" for="form3Example4">Hasło</label>
            </div>
            <div *ngIf="loginForm?.get('password')?.hasError('required') && loginForm?.get('password')?.touched" class="text-danger">
              Hasło jest wymagane.
            </div>

            <!-- Komunikat o błędzie logowania -->
            <div *ngIf="loginError" class="text-danger mb-4">
              Błąd logowania. Sprawdź poprawność danych.
            </div>

            <!-- Przycisk Zaloguj -->
            <button type="submit" class="btn btn-dark btn-block mb-4">Zaloguj</button>
            <p class="fw-bold mb-5">Nie masz konta? Zarejestruj się
              <button type="button" (click)="NavigateToRegistration()" class="btn btn-dark btn-block mb-4">Zarejestruj się</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
