<!-- Sekcja: Blok Projektowania -->
<section class="text-center">
  <!-- Tło obrazu -->
  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 4%, 56%, 0.185);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Zarejestruj się teraz</h2>
          <form (ngSubmit)="registerUser()" #registrationForm="ngForm">
            <!-- Układ siatki z dwoma kolumnami dla imienia i nazwiska -->
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" id="form3Example1" class="form-control" [(ngModel)]="user.name" name="name" required #name="ngModel" />
                  <label class="form-label" for="form3Example1">Imię</label>
                  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                    Pole Imię jest wymagane
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" id="form3Example2" class="form-control" [(ngModel)]="user.surname" name="surname" required #surname="ngModel" />
                  <label class="form-label" for="form3Example2">Nazwisko</label>
                  <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="text-danger">
                    Pole Nazwisko jest wymagane
                  </div>
                </div>
              </div>
            </div>

            <!-- Pole na adres email -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control" [(ngModel)]="user.email" name="email" required #email="ngModel" />
              <label class="form-label" for="form3Example3">Adres email</label>
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                Pole Adres email jest wymagane
              </div>
            </div>

            <!-- Pole na hasło -->
            <div class="form-outline mb-4">
              <input type="password" id="form3Example4" class="form-control" [(ngModel)]="user.password" name="password" required #password="ngModel" />
              <label class="form-label" for="form3Example4">Hasło</label>
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                Pole Hasło jest wymagane
              </div>
            </div>

            <!-- Przycisk Zarejestruj się -->
            <button type="submit" class="btn btn-dark btn-block mb-4">
              Zarejestruj się
            </button>

            <!-- Komunikat o sukcesie -->
            <div *ngIf="registrationSuccess" class="alert alert-success" role="alert">
              Prawidłowa rejestracja!
            </div>

            <!-- Komunikat o błędzie -->
            <div *ngIf="registrationError" class="alert alert-danger" role="alert">
              Błąd podczas rejestracji. Spróbuj ponownie.
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
