<div class="boxed-container">
    <div class="row">
      <div class="col-md-6" *ngFor="let restaurant of restaurants">
        <div class="row">
          <div class="col-md-12 mb-4">
          <div class="card mb-4 box-shadow">
                      <img class="card-img-top" [src]="restaurant.ImageURL" alt="Card image cap" width="300" height="300">
                      <div class="card-body">
                          <p class="card-text">{{restaurant.ShortDesc}}</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group justify-content-center">
                                  <button type="button" (click)="navigateToRestaurantDetail(restaurant.ID)" class="btn btn-dark btn-block">Sprawdź restauracje</button>
                                  <button type="button" (click)="navigateToReservation(restaurant)" class="btn btn-dark">Zarezerwuj</button>
                                </div>
                          </div>
                      </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
 <div> 